* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}

.text-login {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.coins {
  position: absolute;
  bottom: 100px;
}

.btn-login {
  border-radius: 0.6rem;
  background: #4e0070;
  color: #fff;
  width: 50%;
  margin: 0 25%;
  font-weight: 500;
}

.btn-login:hover {
  background: #4c79d3;
  color: #fff;
}

.link-default {
  color: #4e0070;
  cursor: pointer;
}

.link-default:hover {
  color: #4c79d3;
}


