* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}

#home {
  background: linear-gradient(120deg, #fff 45%, #4c79d3 45%) no-repeat fixed;
}

.color-primary {
  color: #4e0070;
}

.color-secondary {
  color: #4c79d3;
}

header {
  border-bottom: 1px solid #bebcbc;
  padding: 5px;
  background-color: #fff;
}

.text-login {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.coins {
  position: absolute;
  bottom: 100px;
}
.icon-datail {
  font-size: 3rem;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.btn-login {
  border-radius: 0.6rem;
  background: #4e0070;
  color: #fff;
  width: 50%;
  margin: 0 25%;
  font-weight: 500;
}

.btn-login:hover,
.btn-default:hover {
  background: #4c79d3;
  color: #fff;
}

.btn-default {
  border-radius: 0.8rem;
  background-color: #4e0070;
  color: #fff;
}

.link-default {
  color: #4e0070;
  cursor: pointer;
}

.link-default:hover {
  color: #4c79d3;
}

.info {
  background-color: #fff;
  border-radius: 1.1rem 1.1rem 0 0;
  padding: 1.1rem 0 0 0;
}
